<article class="post-single {{post_class}}{{#if feature_image}} with-feature-image{{/if}}">
    <header>
        {{> post/title}}

        {{> post/feature-image}}

        {{> post/tags-primary}}

        {{> post/date}}

        {{> post/reading-time}}
    </header>

    <section>
        {{#is "home"}}
            {{> post/excerpt}}
        {{else}}
            {{> post/content}}
        {{/is}}
    </section>

    <footer>
        {{> post/tags-all}}

        {{> post/authors}}
    </footer>
</article>