{{!--
	A tag template for the tag archive pages. Read more about it in https://themes.ghost.org/docs/templates
--}}

{{!< default}}

{{#tag}}
	<div class="tag-page-data">
		<span>You're looking at all the posts published under the tag <span>{{name}}</span>.</span>
	</div>
{{/tag}}

{{> "posts-loop"}}