@import 'compass';

body {
    @include box-sizing(border-box);
    color: #2f2c30;
    margin: 50px;
    padding: 50px;

    img {
        max-width: 100%;
    }

    @media (max-width: 1024px) {
        margin: 15px;
        padding: 15px;
    }

    @media (max-width: 768px) {
        margin: 10px;
        padding: 10px;
    }

    @media (max-width: 640px) {
        margin: 0px;
        padding: 0px;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    .header,
    .main,
    .footer {
        background: #fbfbf9;
        margin: 15px;
        padding: 15px;

        > * {
            border: 5px dashed #bac0ce;
            margin: 25px;
            padding: 25px;
        }

        @media (max-width: 768px) {
            margin: 0;
        }
    }
    .main {
        .post {
            header,
            section,
            footer {
                padding: 0;

                > * {
                    margin: 30px;
                    padding: 15px;

                    @media (max-width: 768px) {
                        margin: 0;
                    }
                }
            }

            header,
            footer {
                > * {
                    background: #e9e8e6;
                }
            }

            section {
                background: #e9e8e6;
                margin: 30px;
                padding: 15px;

                > * {
                    margin: 0;
                    padding: 0;
                }

                @media (max-width: 768px) {
                    margin: 0;
                }
            }
        }
    }
}