<head>
    {{!-- Document settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base meta tags --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    {{!-- Styles --}}
    <link href="{{asset "css/beautify.css"}}" rel="stylesheet" type="text/css" />
    <link href="{{asset "css/ghost.css"}}" rel="stylesheet" type="text/css" />

    {{!-- This tag outputs SEO meta+structured data and other important settings from Ghost. Do not remove it. --}}
    {{ghost_head}}
</head>