{{#if feature_image}}
    <div class="post-feature-image">
        <a href="{{url}}" class="feature-image-link" title="{{title}}">
            <figure>
                <amp-img alt="{{title}}" height="100" src="{{feature_image}}" width="100" />
            </figure>
        </a>
    </div>
{{/if}}