{{#if feature_image}}
    <div class="post-feature-image">
        <a href="{{url}}" class="feature-image-link" title="{{title}}">
            <figure>
                <img alt="{{title}}" src="{{feature_image}}" />
            </figure>
        </a>
    </div>
{{/if}}